@import url('https://cdn.syncfusion.com/ej2/bootstrap5.css');

.table-register {
  margin: 25px 45px;
  width: auto;
  height: 600px;
  overflow-y: scroll;
}

.table-register-filter {
  margin: 25px 45px;
  width: auto;
}

.table-register-filter-items {
  display: flex;
  gap: 1rem;
  font-size: 1.3rem;
  align-items: center;
}

.table-register-filter-items select {
  width: 8rem;
  height: 2rem;
}

.contain-Form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 1rem 0 0 50px;
}

form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.container-form-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.container-form-input input {
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.container-form-input select {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.hola {
  width: 300px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}


.container-form-input textarea {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.container-form-input label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-contac {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.form-contac-appoiment {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
}

.form-contac-appoiment-hidden {
  display: none;
  transition: 4s ease-in;
}

.efectiva {
  display: none;
}

.nefectiva {
  display: none;
}

.nlocalizable {
  display: none;
}

.form-contac-detail {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

form button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background: #212529;
  color: white;
  font-weight: 600;
  transition: 0.5s ease-out;
}

form button:hover {
  font-size: 20px;
  color: #71dfbe;
}

form button:hover .btn-text-hidden {
  display: none;
}

form button:hover .btn-i-hidden {
  display: flex;
}

.btn-i-hidden {
  display: none;
}

.container-home {
  padding: 50px 50px;
  height: 786px;
  background: rgba(0, 0, 0, 0.06);
}

.container-home h1 {
  width: 500px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.18);
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 15px 0;
  gap: 25px;
}

.register-cant {
  width: max-content;
  border-radius: 10px;
  background: white;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.register-cant h2 {
  font-size: 35px;
}

.register-cant p {
  width: 200px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}


.register-cant-efectiva p {
  width: 200px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.container-DboardDetails {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 0;
  backdrop-filter: blur(2px);
  visibility: hidden;
  transition: .3s ease all;
  opacity: 0%;
}

.DboardDetails {
  position: absolute;
  margin: auto auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: fit-content;
  height: fit-content;
  background: white;
  border-radius: 15px;
}

.DboardDetails h2 {
  margin: 0 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.18);
  width: 300px;
}

.container-cancel {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 25px;
  font-size: 25px;
}

.container-cancel i {
  cursor: pointer;
}

.grid-details {
  padding: 15px 25px;
  height: 90%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-auto-rows: 100px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px
}

.DboardDetails-items {
  width: 320px;
  height: 100px;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.DboardDetails-items p {
  font-weight: 600;
  font-size: 20px;
}

.button {
  width: 100%;
  height: 5rem;
  padding: 0.5rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.container-button {
  width: 50rem;
  height: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}

.container-button button {
  background: rgba(0, 0, 0, 0.08);
  border: none;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.5rem;

}

.container-register {
  width: 100%;
  height: 100%;
  padding: 1rem;
  padding-bottom: 3rem;
}

.container-form-ase {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.container-form-ase1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.register-contact {
  width: 100%;
  height: 13rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 25px 20px -20px;
  margin-bottom: 1rem;
}

.form-contacto {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contenedor3 {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.title-form {
  margin: 0;
}

.contain-Form-cita {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.form-cita {
  width: 45%;
  padding: 1rem;
}

.contain-info-tomador {
  width: 55%;
  padding: 1rem;
}

.contain-info-tomador-input {
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.3rem;
  color: black;
  font-weight: 600;
  margin-bottom: 1rem;
}

.contain-info-tomador-input input {
  height: 2.2rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 0.2rem;
  color: black;
}

.contain-info-contacto {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contain-info-contacto-table {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
}


.form-cita-register {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.cita-separate {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0.5rem;
}

.cita-separates {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cita-separates select{
  width: 17.5rem;
  display: flex;
  gap: 0.5rem;
}


.form-cita-register-cotizacion {
  display: flex;
  flex-direction: column;
}

.form-cot-cita-plani-regis {
  padding-bottom: 1rem;
}

.form-cot-cita-plani-regis select {
  height: 2.2rem;
  border-radius: 0.2rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding-left: 0.5rem;
  color: black;
}

.form-cot-cita-plani-regis input {
  height: 2.2rem;
  border-radius: 0.2rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding-left: 0.5rem;
  color: black;
}

.form-cita-register form-cita-regis

.form--regis {
  margin-left: 1.5rem;
}

.user-form select {
  width: 20rem;
  height: 2.2rem;
  border-radius: 0.2rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding-left: 0.5rem;
  color: black;
}

.contenedor-cita-coti-pla {
  margin-bottom: 5rem;
}

td button {
  border: none;
  background: #71dfbe;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 0.3rem;
}

td button i {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-cita-register-cotizacion-check {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.form-cita-register-cotizacion-check input {
  width: 1.5rem;
}

.conatiner-check {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  z-index: 1;
}

.check {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  /* justify-content: center; */
  padding: 1rem;
  width: 30rem;
  border-radius: 0.5rem;
  background: white;
  z-index: 1;
}

.conatiner-check2 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
}

.check2 {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  /* justify-content: center; */
  padding: 1rem;
  border-radius: 0.5rem;
  background: white;
  height: 40rem;
  overflow-y: auto;
}

.cancel-check2{
  display: flex;
  justify-content: flex-end;
  padding: 0 1rem;
  cursor: pointer;
}

.cancel-check2 button {
 border: none;
 background: none;
}

.cancel-check2 button i{
  margin: 0;
  font-size: 1.3rem;
}

.contain-tomador-info{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info-tomador{
  padding: 1rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.03);
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.info-tomador-update{
  display: flex;
  justify-content: flex-end;
}

.info-tomador-update button{
  border: 0.13rem solid black;
  background: #71dfbe;
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
}

.info-tomador-title-btn{
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.4);
  padding-bottom: 0.5rem;
}

.info-tomador-title-btn h3{
  margin: 0;
  font-size: 1.8rem;
}

.info-tomador-title-btn button{
  margin: 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.2rem;
}

.info-tomador-infodetails{
  margin-top: 1rem;
  background: white;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
}

/* loadin */
.overlay{
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* fin loading */

.Container-report{
  padding: 2rem;
}

.Container-report-select{
    width: 100%;
}

.Container-report-select button{
  margin: 0;
  border: 0.2rem solid rgba(0, 0, 0, 0.7);
  width: 10rem;
  background: #fff;
  font-weight: 600;
  border-radius: 1rem 1rem 0rem 0rem;
}

.container-report-table{
 border: 0.2rem solid rgba(0, 0, 0, 0.7);
 height: 43rem;
 padding: 1rem;
}

.container-report-table-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
}
.container-report-table-button i{
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem;
}
.container-report-table-button i button{
  border: none;
}

.container-report-table-t{
 height: 88%;
 width: 100%;
 overflow-y: scroll;

}

.register-tomador{
  padding: 2rem;
}

.container-report-table-button-filter{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.container-report-table-button-filter select{
  width: 10rem;
  height: 1.5rem;
}

.container-report-table-button-filter input{
  width: 1rem;
}

.container-report-table-filter{
  display: flex;
  gap: 0.3rem;
}

.container-report-table-filter-f{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.gapp{
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}

.gapp input{
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  width: 10rem;
  height: 1.5rem;
}

.count-length-datos{
  display: flex;
  justify-content: flex-end;
  gap: 0.7rem;
  font-weight: 600;
  align-items: flex-start;
}
.count-length-datos h5{
 margin: 0;
}
.count-length-datos p{
  margin: 0;
}

.acomodar input{
  width: 9rem;
  height: 1.5rem;
  text-align: end;
  padding: 0rem 0.3rem;
}

.color-table{
  background: #363a8b;
  position: sticky;
  top: 0;
  z-index: 1;
  color: #fff;
}

.container-login{
  background: #fff;
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 45rem;
} 

.form-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.form-img img{
  border-right: 0.1rem solid black;
  padding-right: 1rem;
}

.me-autom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 73rem;
}

.nav-items-{
  display: flex;
  justify-content: center;
  color: #fff;
  align-items: center;
}

.nav-items-logoff button{
  background: none;
  color: #fff;
  border: none;
  font-size: 1.5rem; 
}

.navbar{
  
}